<?xml version="1.0"?>
<config>
    <modules>
        <Demidov_CustomApi>
            <version>2.0.0</version>
        </Demidov_CustomApi>
    </modules>
    <global>
        <models>
            <CustomApi>
                <class>Demidov_CustomApi_Model</class>
                <resourceModel>CustomApi_resource</resourceModel>
            </CustomApi>
            <CustomApi_resource>
                <class>Demidov_CustomApi_Model_Resource</class>
                <entities>
                    <support_log>
                        <table>customapi_support_log</table>
                    </support_log>
                    <token_bearer>
                        <table>customapi_token_bearer</table>
                    </token_bearer>
                    <error_log>
                        <table>customapi_error_log</table>
                    </error_log>
                    <successful_request>
                        <table>customapi_successful_request</table>
                    </successful_request>
                </entities>
            </CustomApi_resource>
        </models>
        <resources>
            <CustomApi_setup>
                <setup>
                    <module>Demidov_CustomApi</module>
                </setup>
            </CustomApi_setup>
        </resources>
        <helpers>
            <CustomApi>
                <class>Demidov_CustomApi_Helper</class>
            </CustomApi>
        </helpers>
        <blocks>
            <CustomApi>
                <class>Demidov_CustomApi_Block</class>
            </CustomApi>
        </blocks>
        <events>
            <controller_front_init_routers>
                <observers>
                    <CustomApi>
                        <class>Demidov_CustomApi_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </CustomApi>
                </observers>
            </controller_front_init_routers>
        </events>
        <!-- Custom API default config  -->
        <customapi_config>
            <v1>
                <priceIncrease>
                    <validators>
                        <className_1>Demidov_CustomApi_Model_ProductApi_Validator_FormatOfParam</className_1>
                        <className_2>Demidov_CustomApi_Model_ProductApi_Validator_ValueExist</className_2>
                    </validators>
                    <handler>
                        <className>Demidov_CustomApi_Model_ProductApi_Handler_FixedPriceIncrease</className>
                        <properties>
                            <types>
                                <amount>integer</amount>
                            </types>
                            <min_values>
                                <amount>1</amount>
                            </min_values>
                            <max_values>
                                <amount>999999</amount>
                            </max_values>
                            <count_of_params>1</count_of_params>
                        </properties>
                    </handler>
                </priceIncrease>
                <productDelete>
                    <validators>
                        <className_1>Demidov_CustomApi_Model_ProductApi_Validator_FormatOfParam</className_1>
                        <className_2>Demidov_CustomApi_Model_ProductApi_Validator_ProductExist</className_2>
                        <className_3>Demidov_CustomApi_Model_ProductApi_Validator_ValueExist</className_3>
                    </validators>
                    <handler>
                        <className>Demidov_CustomApi_Model_ProductApi_Handler_ProductDelete</className>
                        <properties>
                            <types>
                                <id>integer</id>
                            </types>
                            <min_values>
                                <id>1</id>
                            </min_values>
                            <max_values>
                                <id>999999999</id>
                            </max_values>
                            <count_of_params>1</count_of_params>
                        </properties>
                    </handler>
                </productDelete>
            </v1>
            <v2>
                <priceIncrease>
                    <validators>
                        <className_1>Demidov_CustomApi_Model_ProductApi_Validator_FormatOfParam</className_1>
                        <className_2>Demidov_CustomApi_Model_ProductApi_Validator_ValueExist</className_2>
                    </validators>
                    <handler>
                        <className>Demidov_CustomApi_Model_ProductApi_Handler_FixedAndPercentPriceIncrease</className>
                        <properties>
                            <types>
                                <amount>integer</amount>
                                <type_increase>string</type_increase>
                            </types>
                            <min_values>
                                <amount>1</amount>
                            </min_values>
                            <max_values>
                                <amount>999999</amount>
                            </max_values>
                            <count_of_params>2</count_of_params>
                            <valid_values>
                                <type_increase>
                                    <value_1>fixed</value_1>
                                    <value_2>percent</value_2>
                                </type_increase>
                            </valid_values>
                        </properties>
                    </handler>
                </priceIncrease>
                <productDelete>
                    <validators>
                        <className_1>Demidov_CustomApi_Model_ProductApi_Validator_FormatOfParam</className_1>
                        <className_2>Demidov_CustomApi_Model_ProductApi_Validator_ValueExist</className_2>
                    </validators>
                    <handler>
                        <className>Demidov_CustomApi_Model_ProductApi_Handler_ProductMassDelete</className>
                        <properties>
                            <types>
                                <ids>integer</ids>
                            </types>
                            <count_of_params>1</count_of_params>
                        </properties>
                    </handler>
                </productDelete>
            </v2>
        </customapi_config>
        <!-- Custom API default config End -->
    </global>
    <frontend>
        <routers>
            <CustomApi>
                <use>standard</use>
                <args>
                    <module>Demidov_CustomApi</module>
                    <frontName>customapi</frontName>
                </args>
            </CustomApi>
        </routers>
    </frontend>
    <admin>
        <routers>
            <CustomApi>
                <use>admin</use>
                <args>
                    <module>Demidov_CustomApi</module>
                    <frontName>custom_api</frontName>
                </args>
            </CustomApi>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <CustomApi module="CustomApi">
                <title>Custom API</title>
                <sort_order>80</sort_order>
                <children>
                    <support module="CustomApi">
                        <title>Support</title>
                        <sort_order>10</sort_order>
                        <action>custom_api/adminhtml_support/index</action>
                    </support>
                </children>
            </CustomApi>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <custom_api_general module="CustomApi">
                                            <title>Custom API General Settings</title>
                                        </custom_api_general>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <custom_api_general>
            <support>
                <support_email>itdemidov@ukr.net</support_email>
            </support>
            <log>
                <request>1</request>
                <error>1</error>
            </log>
        </custom_api_general>
    </default>
    <crontab>
        <jobs>
            <api_support_clear_log>
                <schedule>
                    <cron_expr>0 0 * * * </cron_expr>
                </schedule>
                <run>
                    <model>CustomApi/cron::api_support_clear_log</model>
                </run>
            </api_support_clear_log>
            <api_error_clear_log>
                <schedule>
                    <cron_expr>0 0 */3 * *</cron_expr>
                </schedule>
                <run>
                    <model>CustomApi/cron::api_error_clear_log</model>
                </run>
            </api_error_clear_log>
            <api_request_clear_log>
                <schedule>
                    <cron_expr>0 0 */7 * *</cron_expr>
                </schedule>
                <run>
                    <model>CustomApi/cron::api_request_clear_log</model>
                </run>
            </api_request_clear_log>
        </jobs>
    </crontab>
</config>